@use '../../constants/variables' as v;

.navigation {
	height: v.$nav-height;
	width: 100vw;
	max-width: 100%;
	background: v.$black;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 10;

	.position_logo {
		flex: 1;
		padding-left: 8rem;
	}

	&__menu {
		flex: 1;

		&__items {
			margin-right: v.$space_from_edge;
			display: flex;
			justify-content: space-evenly;
			list-style: none;

			li {
				display: grid;
				place-items: center;
				color: v.$white;
				flex: 1;
				font-size: large;
				cursor: pointer;
				margin: 0 1rem;
			}
			li.search-li {
				flex: 3;
				margin: 2px 1rem;
				position: relative;

				.search-container {
					display: inline-flex;
					input {
						width: 300px;
						padding: 10px;
						height: inherit;
						font-size: large;
						color: v.$white;
						background-color: rgba(v.$light-blue, 0.2);
						border: none;
						outline: none;
						border-top-left-radius: v.$button-radius;
						border-bottom-left-radius: v.$button-radius;
					}

					img {
						width: 40px;
						padding: 10px;
						height: inherit;
						display: grid;
						place-items: center;
						background-color: rgba(v.$light-blue, 0.2);
						border-top-right-radius: v.$button-radius;
						border-bottom-right-radius: v.$button-radius;
					}
				}

				.search-resoult,
				.resoult_item {
					width: 100%;
					height: 50px;
					display: flex;
					align-items: center;
					color: rgba(v.$black, 0.75);
				}

				.search-resoults {
					position: absolute;
					top: 40px;
					left: 0;
					border-radius: v.$button-radius;
					margin-top: 5px;
					width: 300px;
					height: auto;
					max-height: 200px;
					background-color: rgba(v.$light-blue, 0.2);
					box-shadow: rgba(v.$black, 0.75) 0px 5px 15px;
					overflow: hidden;
					overflow-y: auto;

					&::-webkit-scrollbar {
						display: none;
					}

					.resoult_item {
						&:hover {
							background-color: rgba(v.$white, 0.25);
						}

						p {
							margin-left: 10px;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
	.navigation {
		height: v.$nav-height-tab;
		flex-direction: column;
		justify-content: center;

		.position_logo {
			padding-left: 0;
		}

		&__menu {
			width: 96vw;

			&__items {
				margin-right: 0;

				li.search-li {
					flex: 3;
					margin: 0 10px;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.navigation {
		height: v.$nav-height-mobile;
		flex-direction: column;

		.position_logo {
			padding-left: 0;
		}

		&__menu {
			flex: 1;

			&__items {
				margin-right: 0;
				flex-wrap: wrap;

				li {
					flex: 1;
					font-size: small;
					min-height: 24px;
					padding: 5px;
					height: 20px;
					margin: 5px;
				}

				li.search-li {
					.search-container {
						max-width: 90vw;
						height: 30px;

						img {
							width: 30px;
						}
					}
				}
				li.signup-button {
					margin: 0.5rem;
				}
			}
		}
	}
}
