$white: whitesmoke;
$black: black;
$light-gray: lightgray;
$gray: darkgray;
$yellow: gold;
$light-blue: lightblue;

$bgcolor: rgba(
	$color: $black,
	$alpha: 0.9,
);
$space_from_edge: 8rem;
$button-radius: 5px;

$nav-height: 6rem;
$nav-height-tab: 10rem;
$nav-height-mobile: auto;
