@use '../../constants/variables' as v;

.favorite__container {
	display: flex;
	flex-direction: column;
	padding: 4rem;
	text-align: center;

	&__favorites {
		padding: 4rem;
		min-height: v.$min-height;
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}

	&__filters__select {
		height: 40px;
		width: 100%;
		display: inline-flex;
		justify-content: center;

		&__filter {
			width: 200px;
			height: inherit;
			padding-left: 10px;
			font-size: larger;
			border: 1px solid v.$black;
			outline: none;
			border-top-left-radius: v.$button-radius;
			border-bottom-left-radius: v.$button-radius;
			background-color: rgba(v.$black, 0.75);
			color: rgba(v.$white, 0.75);
			-webkit-appearance: none;
		}
		&__selectIcon {
			height: inherit;
			width: 40px;
			background-color: rgba(v.$black, 0.75);
			border-top-right-radius: v.$button-radius;
			border-bottom-right-radius: v.$button-radius;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1281px) {
	.favorite__container {
		padding: 2rem;

		&__favorites {
			padding: 3rem;
		}
	}
}

@media screen and (max-width: 767px) {
	.favorite__container {
		padding: 2rem;
		margin: auto;
		gap: 30px;
		&__favorites {
			margin: auto;
			display: flex;
			flex-direction: column;
			justify-items: center;
			padding: 0;
		}
	}
}
