@use '../../constants/variables' as v;

footer {
	width: 100vw;
	display: flex;
	justify-content: space-around;
	background-color: rgba(v.$bgcolor, 0.75);

	.footer-content {
		display: flex;
		width: 60vw;
		padding: 10px 0;

		.copyright {
			flex: 9;
			color: v.$white;
			font-size: large;
			font-weight: 200;
			justify-content: center;
		}

		.images {
			flex: 3;
		}
	}
}

@media screen and (min-width: 769px) and (max-width: 1281px) {
	footer {
		.footer-content {
			width: 80vw;
			padding: 10px 0;

			.copyright {
				flex: 3;
				color: v.$white;
				font-size: normal;
			}

			.images {
				flex: 1;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	footer {
		.footer-content {
			display: flex;
			width: 90vw;
			padding: 5px 0;

			.copyright {
				font-size: small;
			}

			.images {
				flex: 1;
			}
		}
	}
}
