@use '../../constants/variables' as v;

.poster {
	position: relative;
	transition: transform 500ms;

	.favorite {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 2px;
		left: 2px;
	}

	&:hover {
		transform: scale(1.25);
		box-shadow: 1rem;
		box-shadow: v.$yellow 1px 1px 10px 1px;
	}
	img {
		width: 160px;
		height: auto;
		object-fit: contain;
	}

	&__more_info {
		padding: 1rem 1rem;
		width: 80%;
		display: flex;
		background-color: rgba(v.$black, 0.7);
		position: absolute;
		top: 60%;
		left: 50%;
		transform: translateX(-50%);
		cursor: pointer;

		:only-child {
			margin: auto;
		}
	}
}
