@use './constants/variables' as v;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
	position: relative;
	background: v.$black;
	background-image: url('./assets/img/bgimg.png');
	background-repeat: no-repeat;

	mix-blend-mode: multiply;

	.app-content {
		margin-top: v.$nav-height;
	}
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
	.App {
		.app-content {
			margin-top: v.$nav-height-tab;
		}
	}
}

@media screen and (max-width: 768px) {
	.App {
		.app-content {
			margin-top: v.$nav-height-mobile;
		}
	}
}
