@use '../../constants/variables' as v;

.search-container {
	display: inline-flex;
	input {
		width: 300px;
		padding: 10px;
		height: inherit;
		font-size: large;
		color: v.$white;
		background-color: rgba(v.$light-blue, 0.2);
		border: none;
		outline: none;
		border-top-left-radius: v.$button-radius;
		border-bottom-left-radius: v.$button-radius;
	}

	img {
		width: 40px;
		padding: 10px;
		height: inherit;
		display: grid;
		place-items: center;
		background-color: rgba(v.$light-blue, 0.2);
		border-top-right-radius: v.$button-radius;
		border-bottom-right-radius: v.$button-radius;
	}
}

.search-resoult,
.resoult_item {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	color: rgba(v.$white, 0.75);
}

.search-resoults {
	position: absolute;
	top: 40px;
	left: 0;
	border-radius: v.$button-radius;
	margin-top: 5px;
	width: 300px;
	height: auto;
	max-height: 200px;
	background-color: rgba(v.$black, 0.75);
	box-shadow: rgba(v.$light-blue, 0.25) 0px 5px 15px;

	overflow: hidden;
	overflow-y: auto;

	&::-webkit-scrollbar {
		display: none;
	}

	.resoult_item {
		&:hover {
			background-color: rgba(v.$white, 0.25);
		}

		p {
			margin-left: 10px;
		}
	}
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
	.search-container {
		display: inline-flex;
		input {
			width: 320px;
		}
	}

	.search-resoults {
		position: absolute;
		top: 40px;
		left: 40px;
	}
}

@media screen and (max-width: 768px) {
	.search-container {
		max-width: 90vw;
		height: 40px;

		img {
			width: 30px;
		}
	}

	.search-container {
		display: inline-flex;
		input {
			width: 400px;
			padding: 10px;
			height: inherit;
			font-size: large;
			color: v.$white;
			background-color: rgba(v.$light-blue, 0.2);
			border: none;
			outline: none;
			border-top-left-radius: v.$button-radius;
			border-bottom-left-radius: v.$button-radius;
		}

		img {
			width: 40px;
			padding: 10px;
			height: inherit;
			display: grid;
			place-items: center;
			background-color: rgba(v.$light-blue, 0.2);
			border-top-right-radius: v.$button-radius;
			border-bottom-right-radius: v.$button-radius;
		}
	}

	.search-resoults {
		top: 40px;
		left: 4px;
	}
}
